body {
    color: #ffffff;
    background-color:#D2B48C;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: 16px;
    margin: 0; /*selain luo automaattisesti pienen marginaalin*/
}
header{
    text-align: center;
    padding-top: 30px;
}
.logo img {
    height: 80px;   /* vaihda logon kokoa*/
    display: block;
    margin-left: 10px;   /* työntää logoa*/
    margin-top: -20px; 
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
}
.alisivu-sisalto {
    background-color: rgb(255, 248, 239);
    display:flex;
    justify-content: space-around;
    padding: 0px;
}

/* fontit yms */
h1, h2, h3, p, .esittely {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

h1 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 97, 34);
    text-align: center;
    padding-top: 30px;
}
h2 {
    text-align: left;      /* Teksti vasempaan reunaan */
    width: 60%;            /* Vie 60 % tilasta */
    margin-left: 4%;     /* Keskittää leveydeltään 60 %:n alueen */
    margin-right: auto;    /* Keskittää leveydeltään 60 %:n alueen */

}
h3 {
    text-align: left;      /* Teksti vasempaan reunaan */
    width: 60%;            /* Vie 60 % tilasta */
    margin-left: 4%;     /* Keskittää leveydeltään 60 %:n alueen */
    margin-right: auto;    /* Keskittää leveydeltään 60 %:n alueen */
}
p {
    text-align: left;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 6%;     /* Keskittää leveydeltään 60 %:n alueen */
    margin-right: auto; /* Keskittää leveydeltään 60 %:n alueen */
}
.esittely {
    padding-left: 20px; 
header, header nav, header h1, header h2, header h3 {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-weight: normal;
    line-height: 1.2;     /* auttaa luettavuutta */
    letter-spacing: 0.5px; /* ei pakollinen, mutta auttaa luettavuutta */
}

}
/*päävalikko*/

header nav {
    text-align: center;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

nav a {
    background: rgb(122, 74, 3);
    font-family: otsikko, sans-serif;
    color:whitesmoke;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(87, 54, 4);
    width: 130px;
    text-align: center;
    
}
header nav a:hover {
    color: rgb(87, 54, 4);
    background-color: whitesmoke;
}
#valittu {
    color: rgb(87, 54, 4);
    background-color:rgba(255, 235, 205, 0.6);
}

.toimintakehote {
    border: 2px solid rgb(87, 54, 4);
    border-radius: 10px;
    background-color: whitesmoke;
    font-family: otsikko, "sans serif";
    color: rgb(87, 54, 4);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
/*alatunniste, joka sivulla sama, liimataan sivun phjaan kiinni*/
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.boksi {
  display: flex;   
  align-items: flex-start; /* järjestää tekstin ja kuvan alkamaan samalta korkeudelta */
  gap: 30px;              /* tekstin ja kuvan etäisyys sivuttaissuunnassa */
}

.side-image {
  margin-left: auto;
  margin-right: 60px;
}
main {
    flex: 1; /* pushes footer to the bottom */
}

footer {
    font-family: otsikko, "sans serif";
    font-size: 22px;
    color: rgba(87, 54, 4);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}



/*Alla skaalaus*/



/*mobiilikoko*/
@media (max-width: 600px) {
    #Etusivu {
        background-image: url(kuvat/paakuva-kahvila-mobiili.jpg);
        background-size: cover;
        height: 400px;
    }
    nav a { 
        font-size: 15px;
        width: 100px;
        height: 20px;
        padding: 7px;
        margin: 3px 5px;
    }
    .logo img {
  height: 100px;
  display: block;
  margin-left: 10px;
  margin-top: 0; 
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo {
  margin-bottom: 10px; /* logon ja navin väliin tilaa*/
}

header nav {
  position: relative; /* lopettaa logon päällekkäisyyden*/
}
    #slogan {
        font-size: 30px;
        padding: 20px;
    }
    .toimintakehote {
        font-size: 18px;
    }
    .sisalto {
        margin: 3% 10% 3% 10%;
    }
    .alisivu-sisalto {
        margin: 3% 10% 3% 10%;
        flex-direction: column;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
        margin-left: 6%;
        margin-right: 4%;
        line-height: 1.4;
    }
    .boksi {
        display: flex;
        flex-direction: row; /*teksti vasemmalla kuva oikealla*/
        align-items: flex-start; /*laittaa kuvan alkmaan samalta riviltä kuin tekstin*/
        gap: 30px;
    }
    .side-image {
        max-width: 45%;
        height: auto;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 100px;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
}
/*tablettikoko*/
@media (min-width: 600px) and (max-width: 1199px) {
    #Etusivu {
        background-image: url(kuvat/paakuva-kahvila.jpg);
        background-size: cover;
        height: 600px;
    }
    nav a { 
        font-size: 16px;
        width: 110px;
        height: 22px;
        padding: 8px;
        margin: 4px 6px;
    }

    #slogan {
        font-size: 40px;
        padding-top: 100px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .toimintakehote {
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
        margin-left: 6%;
        margin-right: 4%;
        line-height: 1.5;
    }
    .esittely {
        font-size: 20px;
    }

    .boksi {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }

    .side-image {
        max-width: 50%;
        height: auto;
        margin-left: auto; /* työtää kuvan oikealle*/
        margin-right: 0;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}
/*suuri näyttö*/
@media screen and (min-width: 1200px) {
    #Etusivu {
        background-image: url(kuvat/paakuva-kahvila.jpg);
        background-size: cover;
        height: 950px;
    }
    #alisivut {
        background-image: url(kuvat/tausta.jpg);
    }
    nav a { 
        font-size: 20px;
        width: 130px;
        height: 25px;
        padding: 10px;
        margin: 5px 20px;
    }
    
    #slogan {
        font-size: 65px;
        padding-top: 150px;
        padding-bottom: 20px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .toimintakehote {
        font-size: 30px;
    }
    .sisalto {
        margin: 3% 15% 3% 15%;
    }
    .alisivu-sisalto {
        margin: 3% 15% 3% 15%;
        flex-direction: row;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
        margin-left: 6%;
        margin-right: 4%;
        line-height: 1.5;
    }
    .esittely {
        font-size: 25px;
    }
    .boksi {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }
    .side-image {
        max-width: 600px;  /* määrittää kuvan koon suurelle ruudulle */
        height: auto;
        margin-left: auto;
        margin-right: 60px;
    }
    footer {
        flex-direction: row;
        text-align: left;
        bottom: 0;
        width: 100%;
        max-height: 15%;
    }
}
